[Web]
selected_web = 
user = 
password = 
filepath = 

[Torrent]
selected_torrent = 
language = 
other_filters = 
verified = 
min_size =

[Downloader]
app =
ip =
user =
password =
port =

[Last]
month = 

